/* 폰트 등록 */
@font-face {
	src: url("../fonts/BMJUA_otf.otf");
	font-family: "Jua";
}

*{
	box-sizing: border-box;
	font-family: "Jua", sans-serif;
}

body{
	box-sizing: border-box;
	margin: 0;
	background-color: #F0E8D9;
	color: #58595B;
	height: 100%;

}
/* 헤더 */
#header {
	margin: 75px 0px;
	text-align: center;
}

#header h1 {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 64px;
	font-weight: normal;
}

#header h2 {
	margin: 0;
	font-size: 32px;
	font-weight: normal;
}
/* 메뉴 */
.menu{
	width: 300px;
	height: 385px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}

.menu #chicken{
	width: 300px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url("../images/chicken.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.menu #sushi{
	width: 300px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url("../images/sushi.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.menu #burger{
	width: 300px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url("../images/burger.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.menu #bibimbap{
	width: 300px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url("../images/bibimbap.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.info {
	padding: 20px;
}

.info h1{
	margin-top: 0;
	font-weight: normal;
}

.info p{
	text-align: left;
	margin-top: 0;
}

.info a{
	text-decoration: none;
	color: #0000EE;
}
